erlang_version=23.0
elixir_version=1.11.2
always_rebuild=false
runtime_path=/app
release=true
hook_compile="mix compile --force --warnings-as-errors"
always_rebuild=true
hook_pre_fetch_dependencies="pwd"
hook_pre_compile="pwd"
hook_compile="mix compile --force --warnings-as-errors"
hook_post_compile="pwd"