<h2> Room: <%= @room %></h2>
<%# # <%= link "Delete", to: Routes.chat_path(@conn, :delete), method: :delete %> 
<div id ="chat-box"></div>
<%= for msg <- @messages do%>
<p><%= msg.body %></p>
<%end%>


<%= form_for @conn, "#", [id: "chat-form"], fn f -> %>

    <%= textarea f, :username, placeholder: "post", id: "user-msg" %>
    <%= submit "Post"%>

<% end %>